.title {
    font-size: 50pt;
}

body { 
    background: linear-gradient(-45deg, #5759cca6, #09528fd3);
    color: white;
    min-height:50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav {
    color:hsl(0, 0%, 100%);
    background-color:rgba(101, 110, 153, 0.76);
    font-size: 25px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    letter-spacing: 2px;
    padding: 20px;
  }

  p {
    color: aliceblue;
    line-height: 1.3em;
    text-align: center;
    width: 100%;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
  }
  
  li {
    color:aliceblue;
    text-align: left;
    font-family: Helvetica;
    font-size: 18px;
    padding: 15px;
 }
 .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  